# Reboot - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [2]:
country = "Saudi arabia"
print(country)

Saudi arabia

Create an `animal` variable and assign your favorite animal to it. Print it

In [3]:
animal = "leopard"
print(animal)

leopard

Create an `animal_count` variable with any positive integer in it. Print it

In [4]:
animal_count= 321

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [5]:
print(f"I just ordered {animal_count} {animal}s from {country}")

I just ordered 321 leopards from Saudi arabia

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [7]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [14]:
pi_type = float
food_type = str
colors_type = list

In [16]:
# pi_type = type(pi)
# food_type = type(food)
# colors_type = type(colors)

In [10]:
type(pi)

float

In [11]:
type(food)

str

In [13]:
type(colors)

list

In [17]:
type(pi) == pi_type \
and type(food) == food_type \
and type(colors) == colors_type

True

Let's try to work with other data types. This time there's no hint.

In [23]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

In [24]:
type(age_valid)

bool

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [25]:
user_profile_type = dict
shapes_type = tuple
age_valid_type = bool

In [27]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

True

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline = 1
- Visa = 4
- Mastercard = 5 & 2
- Other = else

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [29]:
# test case
#input 
number="4242 4242 4242 4242"

#output
result = "Visa"

# write my logic
1. i want to check the first number (index 0)
2. create a condition if first number match these rules
- Airline = 1
- Visa = 4
- Mastercard = 5 & 2
- Other = else
3. return the answer

In [31]:
number # string collection of letters ,

'4242 4242 4242 4242'

In [32]:
number.startswith("4")

True

In [33]:
number[0]

'4'

In [39]:
# # write my logic
# 1. i want to check the first number (index 0)
print(number)
first_number = number[0]
# 2. create a condition if first number match these rules
if first_number == "1":
    result = "Airline"
elif first_number == "4":
    result = "Visa"
elif (first_number == "5") or (first_number == "2"):
    result = "Mastercard"
else:
    result = "Other"
print(result)

# - Airline = 1
# - Visa = 4
# - Mastercard = 5 & 2
# - Other = else
# 3. return the answer

4242 4242 4242 4242
Visa

In [45]:
def credit_card_industry(number):
    # # write my logic
    # 1. i want to check the first number (index 0)
    # print(number)
    first_number = number[0]
    # 2. create a condition if first number match these rules
    if first_number == "1":
        result = "Airline"
    elif first_number == "4":
        result = "Visa"
    elif (first_number == "5") or (first_number == "2"):
        result = "Mastercard"
    else:
        result = "Other"
    return result

In [46]:
def credit_card_industry(credit_number):
    INDUSTRY = {
        "1" : "Airline",
        "2" : "Mastercard",
        "4" : "Visa",
        "5" : "Mastercard"
        
    }
    return INDUSTRY.get(credit_number[0], "Other")

In [47]:
credit_card_industry("4242 4242 4242 4242")

'Visa'

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [48]:
credit_card_industry("4539 0132 4843 4768")

'Visa'

In [49]:
credit_card_industry("5131 9376 6800 4058")

'Mastercard'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [50]:
genres = ["Action", "Comedy", "Drama"]

Add another genre to the list. Print the whole list.

In [51]:
genres.append('Thriller')
print(genres)

['Action', 'Comedy', 'Drama', 'Thriller']

Change the name of the second genre on the list. Print the whole list

In [52]:
genres[1]='Horror'

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [54]:
for index, genre in enumerate(genres):
    print(f"{index+1} - {genre}")

1 - Action
2 - Horror
3 - Drama
4 - Thriller

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [123]:
movie={'year':2010, 
      'title':'Inception'}

In [124]:
movie1={'year':2016, 
      'title':'La La Land',
       'director': 'Damien Chazelle'}

In [125]:

movie2={'year':2016, 
      'title':' 300',
       'director':'Zack Snyder'}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [126]:
movie['director'] = 'Christopher Nolan'
print(movie)

{'year': 2010, 'title': 'Inception', 'director': 'Christopher Nolan'}

Create a `movies` variable and initialize it with an empty list.

In [127]:
movies=[]
movies

[]

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [128]:
movies.append(movie)
movies.append(movie1)
movies.append(movie2)

In [129]:
movies

[{'year': 2010, 'title': 'Inception', 'director': 'Christopher Nolan'},
 {'year': 2016, 'title': 'La La Land', 'director': 'Damien Chazelle'},
 {'year': 2016, 'title': ' 300', 'director': 'Zack Snyder'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppola was released in 1972
The Matrix by The Wachowskis was released in 1999
```

In [131]:
for i in range(len(movies)):
    year=movies[i]['year']
    title = movies[i]['title']
    director = movies[i]['director']
    print(f"{title} by {director} was released in {year}")

Inception by Christopher Nolan was released in 2010
La La Land by Damien Chazelle was released in 2016
 300 by Zack Snyder was released in 2016

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

In [ ]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [ ]:
movie['title']['fr']

What does `movie['title']['es']` return?

In [ ]:
movie['title']['es']

What does `movie['actors']['support'][2]` return?

In [ ]:
movie['actors']['support'][2]

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [ ]:
# YOUR CODE HERE

Try to calculate the total box office of the movie from `movie`

In [ ]:
# YOUR CODE HERE

How can we calculate the box office sum across all the regions below?

In [ ]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

In [ ]:
# YOUR CODE HERE