**Querying the Database**

## Basic

- import client
- connect to database
- read it
- execute querries
- fetch rows

In [1]:
!ls

Lecture SQL Basics .ipynb  data
SQL Basics Cheat Sheet.pdf script.txt
SQL_Script_Livia_Ellen.sql

In [2]:
!ls data/

Screen Shot 2023-07-13 at 08.20.44.png soccer.sqlite

In [18]:
import sqlite3   #import the module, no pip install needed!

conn = sqlite3.connect('data/soccer_2.sqlite')  #connect to my database, pass the path
c = conn.cursor()  #reader

In [20]:
c.execute("SELECT * FROM Country")  #execute a query
rows = c.fetchall()  #give all rows matching the SQL query
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [9]:
rows

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy'),
 (13274, 'Netherlands'),
 (15722, 'Poland'),
 (17642, 'Portugal'),
 (19694, 'Scotland'),
 (21518, 'Spain'),
 (24558, 'Switzerland')]

In [11]:
print(type(rows))  #rows is a list

<class 'list'>

In [12]:
rows

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy'),
 (13274, 'Netherlands'),
 (15722, 'Poland'),
 (17642, 'Portugal'),
 (19694, 'Scotland'),
 (21518, 'Spain'),
 (24558, 'Switzerland')]

In [13]:
print(rows[0]) #my first row contain all of the values of the columns of my SQL query

(1, 'Belgium')

In [14]:
print(rows[1]) #second row of my SQL query

(1729, 'England')

In [10]:
print(type(rows[0])) #rows is a list of tuples

<class 'tuple'>

In [11]:
for row in rows:   #all rows of my SQL query, iterate over the rows to use them
    print (row)

(1, 'Belgium')
(1729, 'England')
(4769, 'France')
(7809, 'Germany')
(10257, 'Italy')
(13274, 'Netherlands')
(15722, 'Poland')
(17642, 'Portugal')
(19694, 'Scotland')
(21518, 'Spain')
(24558, 'Switzerland')

In [12]:
for row in rows:   #all rows of my SQL query, iterate over the rows to use them
    print (row[0])

1
1729
4769
7809
10257
13274
15722
17642
19694
21518
24558

In [13]:
for row in rows:   #all rows of my SQL query, iterate over the rows to use them
    print (row[1])

Belgium
England
France
Germany
Italy
Netherlands
Poland
Portugal
Scotland
Spain
Switzerland

ðŸ‘‰There is a mapping between Python types and SQL types:
 
 
    in SQL    | in Python
    integer  --> integer
    text     -->  string
    date     -->  string  (Look at datetime.strptime ) #Google it!

In [19]:
for row in rows:   #all rows of my SQL query, iterate over the rows to use them
    print (type(row[0]))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [20]:
for row in rows:   #all rows of my SQL query, iterate over the rows to use them
    print (type(row[1]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## Advanced

In [14]:
conn = sqlite3.connect('data/soccer.sqlite')
conn.row_factory = sqlite3.Row    #addition to avoid indexes and use column names
c = conn.cursor()

In [15]:
c.execute("SELECT * FROM Country")
rows = c.fetchall()   #now rows is a list of rows

In [16]:
rows

[<sqlite3.Row at 0x106254d60>,
 <sqlite3.Row at 0x106256d70>,
 <sqlite3.Row at 0x1061cd570>,
 <sqlite3.Row at 0x1061cc460>,
 <sqlite3.Row at 0x1060a4d60>,
 <sqlite3.Row at 0x106293820>,
 <sqlite3.Row at 0x1062926b0>,
 <sqlite3.Row at 0x106293520>,
 <sqlite3.Row at 0x1062924a0>,
 <sqlite3.Row at 0x1062696c0>,
 <sqlite3.Row at 0x106269db0>]

In [17]:
for row in rows:  
    print (row['name'])

Belgium
England
France
Germany
Italy
Netherlands
Poland
Portugal
Scotland
Spain
Switzerland

### Fetch One

In [24]:
c.execute("SELECT * FROM Country")
row = c.fetchone()
print(row)

(1, 'Belgium')

ðŸ‘‰Useful when I know it will return only one row

In [29]:
c.execute("SELECT * FROM Country WHERE Country.id = 1")
row = c.fetchone()
print(row[0], '-' ,row[1])

1 - Belgium

In [30]:
c.execute("SELECT * FROM Country WHERE Country.id = 2")
row = c.fetchone()
print(row)

None

ðŸ‘‰Could be used in a condional clause

     If row is none then do something...

ðŸ‘‰ DO NOT WASTE RESOURCES!

ðŸ‘‰ Other similar modules for other databases postgreesql --> psycopg2